.home-row a:hover, a:focus {
  text-decoration: none
}
.home-row {
  margin-top: 30px;
}
.map-title {
  text-align: center;
  color: #2d7681;
}
.map-thumb{
  max-width: 100%;
  max-height: 100%;
}
.map-thumb-img {
  max-width: 100%;
  max-height: 100%;
}
.map-item {
  border: #99CC00 solid 1px;
  background: #99CC00
}
