.home-row a:hover, a:focus {
  text-decoration: none;
}
.home-row {
  margin-top: 30px;
}
.map-title {
  text-align: center;
  margin-bottom: 7px;
}
.map-thumb{
  max-width: 100%;
  max-height: 100%;
}
.map-thumb-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}
.map-item {
  border: #99CC00 solid 1px;
  background: #99CC00;
  border-radius: 4px;
}
.map-item a:hover, a:focus {
  text-decoration: none;
}
.map-item .map-title h3 a {
  color: #353531;
}
footer.footer {
  padding-bottom: 22px;
}
/* Carousel base class */
.carousel {
  margin-bottom: 0px;
}

.carousel .container {
  position: absolute;

  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 280px;
  margin: 0px auto;
  bottom: inherit;
  width: 100%;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 280px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  /* max-width: 550px; */
  padding: 0 20px;105px:1;
  text-align: center;
  margin: 5px auto;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}
.carousel-bottom {
  width: 100%;
  bottom: 0;
  position: fixed;
  /*margin: 5px auto;*/
  background: rgba(20, 41, 0, 0.36);
}
.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}
.carousel.fade .item:first-child {
  top: auto;
  position: relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index: 2;
}